ClientApp/Service References/FileUploadService/Library.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Library" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Library" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFile">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="File" nillable="true" type="tns:File" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFile" nillable="true" type="tns:ArrayOfFile" />
  <xs:complexType name="File">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileLock" type="xs:int" />
      <xs:element minOccurs="0" name="FileLockTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VersionNr" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="File" nillable="true" type="tns:File" />
</xs:schema>