ClientApp/Service References/FileUploadService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FileUpLoadService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="basicHttpStream_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/Message" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WebService.Models" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Library" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FileUploadMessage">
    <wsdl:part name="parameters" element="tns:FileUploadMessage" />
  </wsdl:message>
  <wsdl:message name="FileUploadMessage_Headers">
    <wsdl:part name="Metadata" element="tns:Metadata" />
  </wsdl:message>
  <wsdl:message name="IFileUpLoadService_UploadFile_OutputMessage" />
  <wsdl:message name="FileDownloadMessage">
    <wsdl:part name="parameters" element="tns:FileDownloadMessage" />
  </wsdl:message>
  <wsdl:message name="FileDownloadMessage_Headers">
    <wsdl:part name="FileMetaData" element="tns:FileMetaData" />
  </wsdl:message>
  <wsdl:message name="FileDownloadReturnMessage">
    <wsdl:part name="parameters" element="tns:FileDownloadReturnMessage" />
  </wsdl:message>
  <wsdl:message name="FileDownloadReturnMessage_Headers">
    <wsdl:part name="DownloadedFileMetadata" element="tns:DownloadedFileMetadata" />
  </wsdl:message>
  <wsdl:message name="IFileUpLoadService_GetAllFilesForProject_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFilesForProject" />
  </wsdl:message>
  <wsdl:message name="IFileUpLoadService_GetAllFilesForProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFilesForProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IFileUpLoadService_AddFile_InputMessage">
    <wsdl:part name="parameters" element="tns:AddFile" />
  </wsdl:message>
  <wsdl:message name="IFileUpLoadService_AddFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddFileResponse" />
  </wsdl:message>
  <wsdl:portType name="IFileUpLoadService">
    <wsdl:operation name="UploadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileUpLoadService/UploadFile" name="FileUploadMessage" message="tns:FileUploadMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileUpLoadService/UploadFileResponse" message="tns:IFileUpLoadService_UploadFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileUpLoadService/DownloadFile" name="FileDownloadMessage" message="tns:FileDownloadMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileUpLoadService/DownloadFileResponse" name="FileDownloadReturnMessage" message="tns:FileDownloadReturnMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllFilesForProject">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileUpLoadService/GetAllFilesForProject" message="tns:IFileUpLoadService_GetAllFilesForProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileUpLoadService/GetAllFilesForProjectResponse" message="tns:IFileUpLoadService_GetAllFilesForProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileUpLoadService/AddFile" message="tns:IFileUpLoadService_AddFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileUpLoadService/AddFileResponse" message="tns:IFileUpLoadService_AddFile_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="basicHttpStream" type="tns:IFileUpLoadService">
    <wsp:PolicyReference URI="#basicHttpStream_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadFile">
      <soap:operation soapAction="http://tempuri.org/IFileUpLoadService/UploadFile" style="document" />
      <wsdl:input name="FileUploadMessage">
        <soap:header message="tns:FileUploadMessage_Headers" part="Metadata" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <soap:operation soapAction="http://tempuri.org/IFileUpLoadService/DownloadFile" style="document" />
      <wsdl:input name="FileDownloadMessage">
        <soap:header message="tns:FileDownloadMessage_Headers" part="FileMetaData" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="FileDownloadReturnMessage">
        <soap:header message="tns:FileDownloadReturnMessage_Headers" part="DownloadedFileMetadata" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFilesForProject">
      <soap:operation soapAction="http://tempuri.org/IFileUpLoadService/GetAllFilesForProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFile">
      <soap:operation soapAction="http://tempuri.org/IFileUpLoadService/AddFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FileUpLoadService">
    <wsdl:port name="basicHttpStream" binding="tns:basicHttpStream">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WebService/FileUploadService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>