ClientApp/Service References/FileCtrService/Server.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Server" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FilePrepare">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectId" type="xs:int" />
      <xs:element minOccurs="0" name="serverport" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FilePrepare" nillable="true" type="tns:FilePrepare" />
</xs:schema>