WebKlient/App_WebReferences/FileService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/Message" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WebService.Models" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Library" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="FileUploadMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/Message" name="FileByteStream" type="q1:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WebService.Models" name="Metadata" nillable="true" type="q2:FileMetaData" />
  <xs:element name="AddSingleFileMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Library" minOccurs="0" name="file" nillable="true" type="q3:File" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileDownloadMessage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WebService.Models" name="FileMetaData" nillable="true" type="q4:FileMetaData" />
  <xs:element name="FileDownloadReturnMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/Message" name="FileByteStream" type="q5:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WebService.Models" name="DownloadedFileMetadata" nillable="true" type="q6:FileMetaData" />
  <xs:element name="GetAllFilesForProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFilesForProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Library" minOccurs="0" name="GetAllFilesForProjectResult" nillable="true" type="q7:ArrayOfFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFileById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFileByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Library" minOccurs="0" name="getFileByIdResult" nillable="true" type="q8:File" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMultiFilesMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="filenames" nillable="true" type="q9:ArrayOfstring" />
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="filedescs" nillable="true" type="q10:ArrayOfstring" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Library" minOccurs="0" name="project" nillable="true" type="q11:Project" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileMessage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFIleReturnMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Library" minOccurs="0" name="file" nillable="true" type="q12:File" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>